<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="TimeKeeper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="TimeKeeper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<connectionStrings/>
	<userSettings>
		<TimeKeeper.Properties.Settings>
   <setting name="interval" serializeAs="String">
    <value>15</value>
   </setting>
   <setting name="opacity" serializeAs="String">
    <value>75</value>
   </setting>
   <setting name="buttonColor" serializeAs="String">
    <value>Red</value>
   </setting>
   <setting name="SettingsVersion" serializeAs="String">
    <value>1.0.1.0</value>
   </setting>
   <setting name="userName" serializeAs="String">
    <value/>
   </setting>
   <setting name="RemoveUnusedRows" serializeAs="String">
    <value>False</value>
   </setting>
  </TimeKeeper.Properties.Settings>
	</userSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<applicationSettings>
		<TimeKeeper.Properties.Settings>
   <setting name="LocalStoreName" serializeAs="String">
    <value>LocalStore.1.0.1.db</value>
   </setting>
  </TimeKeeper.Properties.Settings>
	</applicationSettings>
</configuration>
